@charset "UTF-8";

/*
    em HTML é id = em CSS é "#"
    em HTML é class = em CSS é "."
*/

body{
    background-color: #c6d3ff;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #2558ff;
}
h1#principal{
    text-align: center;
    background-color: blue;
    color: white;
}
.basico{
    color: green;
}
.intermediario{
    color: rgb(252, 252, 132);
}
.in
.avancado{
    color: #ff0043;
}